<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.5.1" targetFramework="net48" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.119.0" targetFramework="net48" />
  <package id="Syncfusion.Chart.Base" version="30.1.41" targetFramework="net48" />
  <package id="Syncfusion.Chart.Windows" version="30.1.41" targetFramework="net48" />
  <package id="Syncfusion.Compression.Base" version="30.1.41" targetFramework="net48" />
  <package id="Syncfusion.Core.WinForms" version="30.1.41" targetFramework="net48" />
  <package id="Syncfusion.Data.WinForms" version="30.1.41" targetFramework="net48" />
  <package id="Syncfusion.DataSource.WinForms" version="30.1.41" targetFramework="net48" />
  <package id="Syncfusion.Grid.Base" version="30.1.41" targetFramework="net48" />
  <package id="Syncfusion.Grid.Windows" version="30.1.41" targetFramework="net48" />
  <package id="Syncfusion.GridCommon.WinForms" version="30.1.41" targetFramework="net48" />
  <package id="Syncfusion.Grouping.Base" version="30.1.41" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="30.1.41" targetFramework="net48" />
  <package id="Syncfusion.Pdf.WinForms" version="30.1.41" targetFramework="net48" />
  <package id="Syncfusion.PdfToImageConverter.WinForms" version="30.1.41" targetFramework="net48" />
  <package id="Syncfusion.PdfViewer.Windows" version="30.1.41" targetFramework="net48" />
  <package id="Syncfusion.SfBarcode.Windows" version="30.1.41" targetFramework="net48" />
  <package id="Syncfusion.SfDataGrid.WinForms" version="30.1.41" targetFramework="net48" />
  <package id="Syncfusion.SfInput.WinForms" version="30.1.41" targetFramework="net48" />
  <package id="Syncfusion.SfListView.WinForms" version="30.1.41" targetFramework="net48" />
  <package id="Syncfusion.Shared.Base" version="30.1.41" targetFramework="net48" />
  <package id="Syncfusion.Shared.Windows" version="30.1.41" targetFramework="net48" />
  <package id="Syncfusion.SpellChecker.Base" version="30.1.41" targetFramework="net48" />
  <package id="Syncfusion.Tools.Base" version="30.1.41" targetFramework="net48" />
  <package id="Syncfusion.Tools.Windows" version="30.1.41" targetFramework="net48" />
  <package id="System.Data.SQLite" version="1.0.119.0" targetFramework="net48" />
  <package id="System.Data.SQLite.Core" version="1.0.119.0" targetFramework="net48" />
  <package id="System.Data.SQLite.EF6" version="1.0.119.0" targetFramework="net48" />
  <package id="System.Data.SQLite.Linq" version="1.0.119.0" targetFramework="net48" />
</packages>